.search-bar {
  max-width: 320px;
  min-width: 220px;
  width: 45%;
  border: none;
  padding: 12px;
  box-shadow: 0 0 5px 0 #00000040;
  border-radius: 20px;
}

.search-bar::placeholder {
  color: #00000070;
}

.search-button {
  background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
  border: 1px solid #fe9a8b;
  padding: 12px 15px;
  color: white;
  box-shadow: 0 0 5px 0 #00000040;
  border-radius: 20px;
  position: relative;
  right: 43px;
  top: -1px;
}

.search-bar:focus,
.search-bar:hover {
  box-shadow: 0 0 5px 2px #00000040;
  outline: none;
}

.search-button:focus {
  outline: none;
}
